<%- include("templates/header")%>

<a href="/signup">Try again</a><br />

<% if (name === "") { %>
    Name is required  <br />
    
<% } %>
<% if (username === "") { %>
    Username is required  <br />

<% } %>
<% if (password === "") { %>
    Password is required  <br />
<% }
if (sqlInjection === true) { %>
    <h1 style='color:darkred;'>A SQL injection attack was detected!!</h1><br/>
<% } %>
<a href="/">Go to Home</a>

<%- include("templates/footer")%>